
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.card {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subject {
  padding: 20px;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-stretch: semi-expanded;
}

.box {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.display {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: relative;
  width: 100%;
  background-color: whitesmoke;
}

.schedule {
  display: block;
  position: relative;
  margin-left: 50px;
  display: grid;
}
.upcoming-events {
  position: relative;
  font-size: 20px;
  margin: 20px;
  padding: 10%;
  bottom: -5%;
  min-width: 50%;
  min-height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border: 1px solid;
  line-height: 20px;
  background-color: #E5E9F1
}

.top-header {
  text-align: center;
  padding:3px;
  margin-top: 10px;
  line-height: 10%;
}


.mentor-profile {
  display: block;
  font-size: 14px;
  margin: 10px;
  padding: 10%;
  bottom: -40px;
  min-width: 40%;
  min-height: 40%;
  line-height: 20px;
  background-color: #dfe3ee;
  border-radius: 10px;
  border: 1px solid;
}


#rectangle {
  justify-content: last baseline;
  width:20px;
  height:10px;
  border:1px 
}

.activity-feed {
  display: block;
  position: static;
  font-size: 16px;
  text-indent: -5px;
  margin: 20px;
  padding: 40px;
  bottom: -40px;
  min-width: 40%;
  min-height: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: #dfe3ee;
  border: 1px solid;
  border-radius: 10px;
}

#Avatar {
  margin-right: -150%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#appointment-button{
  display: grid;
  text-align: center;
  margin: 10px;
  margin-left: -10px;
  align-items: center;
  padding: -10px;
  border-radius: 14px;
}


#user-name {
  text-align: left;
  text-indent: -15px;
  margin-bottom: -10px;
  font-size: 16px;
  position: 0px;
  line-height: 10px;
  padding: 10px 10px;
  justify-content: left;
  text-align: left;
}

.mentor-slider {
  display: flex;
  position: static;
  font-size: 12px;
  line-height: 20px;
  margin: 20px;
  padding: 10%;
  bottom: -40px;
  min-width: 20%;
  min-height: 0%;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: #dfe3ee;
  border: 1px solid;
  border-radius: 10px;
}

.learning-feed {
  display: flex;
  position: static;
  font-size: 12px;
  margin: 20px;
  padding: 10%;
  bottom: -40px;
  min-width: 40%;
  min-height: 40%;
  overflow: hidden;
  line-height: px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  text-align: start;
  background-color: #dfe3ee;
  border: 1px solid;
  border-radius: 10px;
}



.caption {
  top: auto;
  display: flexbox;
  flex-direction: column;
  font-size: 12px;
  justify-content: space-around;
  text-align: auto;
  align-items: auto;
  margin: 20px;
  padding: 10%;
}

.mentor {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

.bottom-footer {
  position: relative;
  padding: 10px;
  min-width: 40%;
  min-height: 100%;
  padding: -100%;
  margin-top: -100px;
  bottom: -100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: whitesmoke;
  display: block;
}

#Avatar-header{
  margin-left: 300px;
  margin-top:-50px;
}

.mentor-footer{
  position: relative;
  padding: 10px;
  min-width: 40%;
  min-height: 100%;
  padding: -100%;
  margin-top: -10px;
  bottom: -100px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: whitesmoke;
  display: block;
}


.custom-tag {
  max-width: 20%;
  height: 20px;
  background: black;
}

form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

