
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.card {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subject {
  padding: 20px;
}

h1 {
  display: flex;
  justify-content: center;
}

.box {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.display {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: relative;
  width: 100%;
  background-color: whitesmoke;
}

.upcoming-events {
  position: relative;
  font-size: 20px;
  margin: 20px;
  padding: 10%;
  min-width: 50%;
  min-height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: tan;
}

.top-header {
  text-align: center;
}

profile-image {
  position: relative;
  justify-content: center;
}
.mentor-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.activity-feed {
  position: relative;
  font-size: 20px;
  margin: 20px;
  padding: 10%;
  min-width: 50%;
  min-height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: slategrey;
}

.mentor-slider {
  position: relative;
  font-size: 12px;
  margin: 20px;
  padding: 10%;
  min-width: 40%;
  min-height: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: antiquewhite;
}


.mentor {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

.bottom-footer {
  position: relative;
  padding: 10px;
  min-width: 40%;
  min-height: 40%;
  bottom: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: whitesmoke;
}


.image {
  align-items: center;
}

.custom-tag {
  max-width: 20%;
  height: 20px;
  background: black;
}

form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

